.content .admin textarea {
    width: 100%;
    height: 150px;
}

.content .admin label {
    font-size: 20px;
}

.content .admin input[type="text"]
{
    font-size:22px;
}

.content .admin textarea[type="text"]
{
    font-size:19px;
}