body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 1300px;
    margin: 30px auto;
    border: 1px solid black;
}

header {
    height: 70px;
    padding: 20px;
    display: flex;
    font-size: 17px;
    background: rgb(53, 53, 53);
}

header .menu_right, header .menu_left, header .search form {
    padding: 20px;
}

header .menu_right a, header .menu_left a{
    text-decoration: none;
    color: rgb(87, 87, 250);
    margin: 10px;
}

header .menu_right a:hover, header .menu_left a:hover {
    color: red;
    text-decoration: underline;
}

/* auth */
header .menu_right .welcome_back {
    margin-left: 10px;
    color: white;
}

header .menu_right .welcome_back .user {
    color: red;
}


header .menu_right .logout {
    position: relative;
    left: 490px;
    bottom: 20px;
}

header .menu_right .logout form button {
    background: rgb(53, 53, 53);
    border: none;
    color: rgb(87, 87, 250);
    font-size: 18px;
    cursor: pointer;
}

header .menu_right .logout form button:hover {
    color: red;
    transform: 1s;
    text-decoration: underline;
}

/* 
header .menu_right {
    margin-right: 40px;
} */

header  .menu_left .search form input {
    width: 150px;
    height: 45px;
    border: none;
}

header .menu_left .search form button {
    border: none;
    height: 48px;
    cursor: pointer;
}

header .menu_left .search form button:hover {
    background-color: aqua;
    color: rebeccapurple;
}



main {
    display: flex;
}

main .content {
    width: 100%;
    height: 1000px;
    padding: 20px;
    border: 1px solid black;
}

main .left {
    width: 20%;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid black;
}

footer {
    height: 60px;
    padding: 20px;
    background: burlywood;
}

footer .footer_menu {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-left: 400px;
}

footer .footer_menu a {
    margin: 5px;
    text-decoration: none;
    color: blue;
}

footer .footer_menu a:hover {
    text-decoration: underline;
    color: red;
}
