.content h2 {
    text-align: left;
}

.content form button {
    width: 400px;
    background-color: green;
    margin-top: 10px;
}

.content .price {
    font-weight: normal;
    float: right;
    position: relative;
    right: 430px;
    bottom: 25px;
}

.content p {
    text-indent: 0;
}

.content form label {
    display: block;
    position: relative;
    left: 430px;
    bottom: 360px;
}

.content form input {
    text-align: center;
    position: relative;
    left: 430px;
    bottom: 360px;
    width: 50px;
    height: 50px;
}