main .left h2{
    font-size: 25px;
}

.content form {
    display: flex;
}

.content form .basket {
    background-color: green;
    width: 150px;
}

.content form .basket:hover {
    color: red;
}

.content form .follow {
    margin-left: 300px;
    position: relative;
    bottom: 43px;
}
