.content h1 {
    text-align: center;
}

.content table {
    background: white;
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.content table th {
    font-size: 15px;
    font-weight: bold;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    color: #049;
    padding: 10px 8px;
}

.content table td {
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
}

.content tr:hover td {
    background-color: #ccddff;
}

.content .plus_btn, .content .minus_btn {
    margin-left: 45px;
}

.content .plus_btn {
    background: rgba(0, 255, 0, 0.508);
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    color: black;
    border: none;
}

.content .minus_btn {
    background: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
    color: black;
    border: none;
}

.content .remove_btn {
    font-size: 25px;
    background-color: red;
    cursor: pointer;
}
